body{
    font-family: 'Roboto', sans-serif;
}
.color{
    color: rgb(255, 26, 117);
    font-weight: 900;
}
p{ 
    color: dimgrey;
}
.width-50{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 10%;

}
.width-50 img{
    width: 100%;
}
.top-header{
    background-image: url("photo/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 900px;
    padding-bottom: 50px.;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(255, 26, 117), rgb(255, 0, 102));
    padding: 10px 20px;
    border-radius: 5%;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url("photo/biography-bg.png");
    background-repeat: no-repeat;
}
.text-style{
    text-align: center;
    font-size: 30px;
}
.section .box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

}
.section .box .row-1{
    display: flex;
    flex-direction: column;
    width: 30%;
   
}
.section .box .row-1 img{
    width: 100;
}
.last-part{
    margin: 30px 30px ;
    text-align: center;
}
.class{
    font-size: 50px;
    text-align: center;
}
.h4-tag{
    width: 40%;
    position: absolute;
    margin-left: 360px;
}
.box-color{
    border: 1px solid red;
    background-image: linear-gradient(45deg, rgb(255, 51, 133), rgb(255, 26, 117));
    text-align: center;
    color: white;
    border-radius: 5%;
  
}
footer{
    font-size: 15px;
    text-align: center;
}




.latest-word-section{
    margin-top: 150px;
    text-align: center;
}